{% extends "layout.html" %}

{% block content %}
        <p>Thanks for participating, you have successfully completed the survey!</p>
        <a role="button" class="btn btn-outline-dark" style="margin-top: 3px; margin-bottom: 5%;" href="{{ url_for('home') }}">Return to home page.</a>
            {% with messages4 = get_flashed_messages() %}
                {% if messages4 %}
                    {% for message4 in messages4 %}
                        {{ message4 }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
{% endblock %}
